<!doctype html>
<html lang="en" ng-app="myJabberProfileApp">
<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <title>Jabber Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.2.js"></script>
 
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body ng-controller="jabberProfileCtrl">
  <ul class="pages">
    <li class="chat page">
    
 
      <div class='container'>
  <div>
    <div class='navbar navbar-inverse navbar-custom' style="height:auto;">
     <h4 class="bg-success">Jabber Box</h4>
    </div>
  </div>
   <div id='content' class='row-fluid'>
    <div class='span3 sidebar'>
      <div class='hero'>
        <center><h4> {{myDetails.username|uppercase}}</h4></center>
        <img src="/images/bean.jpg" class="img-rounded" alt="Cinque Terre" width="304">
        <ul class="nav nav-pills nav-stacked red">
          <li class="active"><a href="#">{{myDetails.email}}</a></li>
        </ul>
 
 
       
         <header>Group Channel
           <button type="button" class="icon-book" ng-click="open()"></button>
         </header>
        <div class='wrappergroup'>
       
 
         <ul>
          <li ng-repeat="x in myDetails.groups">
           <a ng-click="ShowGraph()">#{{ x.grp_name }}</a>
          </li>
 
         </ul>
        </div>
        
          <header>Personal Messaging</header>
          <div class='wrapper'>
          <ul>
            <li ng-repeat="x in friendDetails">
             <a ng-click="fetchPersonalChat(x.user_id,x.username)">$ {{ x.username }}</a>
            </li>
          </ul>
        </div>
      </div>
     </div>
   <div class='span9 sidebar'>
    <div class="chatArea">
      <ul class="messages">
        <li ng-repeat=" opt in chatMessagesArray" ng-bind-html-unsafe="opt.text" >
            {{ opt.username }} : {{opt.message}}
        </li>
      </ul>
    </div>
    <input id="inputMessage" placeholder="Type here..." ng-model="inputMsg" ng-keydown="fn($event)"/>
   </div>
  </div>
</div>
 
     
  </li>
   <!--  <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInputs" type="text" maxlength="14" ng-keydown="$event"/>
      </div>
    </li>
-->  </ul>
 
 
<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create New Group</h3>
        </div>
        <div class="modal-body" id="modal-body">
        my_id{{aagya}}
        Group Name: <input type="text" ng-model="firstname"></br>
        Group Type:
        <input type="radio" ng-model="myVar" value="closed">Closed
        <input type="radio" ng-model="myVar" value="open">Open
</form>

<div ng-switch="myVar">
  <div ng-switch-when="open">
     <h1>Open Group</h1>
     <p>In Open Group,Any Member can join this group channel</p>
  </div>
  <div ng-switch-when="closed">
     <h1>Closed Group</h1>
     <p>In Closed Group,Only those Member can see messages which are added by you</p>
  </div>
</div>

Select a topic:
<select ng-model="myVar">
    <option value="">
    <option value="dogs">Dogs
    <option value="tuts">Tutorials
    <option value="cars">Cars
</select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
 
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
   <script src="/scripts/mainCloneAngularWay.js"></script>
</body>
</html>